h1 {
  margin: 50px
}

.description {
  margin: 20px;
  width: 700px;
}

code {
  color: #FFF !important;
}
pre {
  margin: 20px 0;
  padding: 20px 40px;
  width: 700px;
  font-size: 9pt;
}

.container {
  display: flex;
  flex-direction: column;;
  align-items: center;
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.footer p {
  font-size: 9pt;
  color: #444;
  margin: 0;
}
.footer a {
  color: inherit;
  font-weight: 600;
}
#timeline-chart {
}