body {
  background-color: #f9f7f1;
}
h1 {
  font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 50px;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
}

.description {
  width: 700px;
  font-size: 10pt;
}

code {
  color: #FFF !important;
}
pre {
  margin: 20px 0;
  padding: 20px 40px;
  width: 700px;
  font-size: 9pt;
}

.container {
  display: flex;
  flex-direction: column;;
  align-items: center;
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.footer p {
  font-size: 9pt;
  color: #444;
  margin: 0;
}
.footer a {
  color: inherit;
  font-weight: 600;
}
#timeline-chart {
  margin: 20px 0;
}