h1 {
  margin: 50px
}

p {
  margin: 20px;
  width: 700px;
}

code {
  color: #FFF !important;
}
pre {
  margin: 20px 0;
  padding: 20px 40px;
  width: 700px;
  font-size: 9pt;
}

.container {
  display: flex;
  flex-direction: column;;
  align-items: center;
}


#timeline-chart {
}